<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
</head>
<body>
    <h1>{{message}}</h1>
    {% comment %} application_numbers
    {{application_numbers}}
    <br/>
    <br/>
    
    roznama_application_numbers
    {{roznama_application_numbers}}
    <br/>
    courthallA_extracted_data
    {{courthallA_extracted_data}}
    <br/>
    courthallB_extracted_data
    {{courthallB_extracted_data}}
    <br/>
    courthallRC_extracted_data
    {{courthallRC_extracted_data}}
    <br/>
    <br/>
    
    Common Numbers
    {{common_numbers}}
    <br/>
    <br/>
    
    Party Names
    {{party_names}}
    <br/> {% endcomment %}
    
    Roznama_Data
    {{roznama_data}}
</body>
</html>
